<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>로그인화면</div>
    <form method="post">
        <label>id</label>
        <input type="text" name="uid">
        <label>pw</label>
        <input type="password" name="upw">
        <button>로그인</button>
    </form>
</body>

</html>