<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- action을 작성하지 않으면 현재 페이지로 요청 -->
    <form method="post">
        <label for="">제목</label>
        <input type="text" name="title">
        <label for="">내용</label>
        <textarea name="content"></textarea>
        <button>추가</button>

    </form>
</body>

</html>