<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>상세페이지</div>
    <form action="/notice/update/<%=data[0].id%>?_method=PATCH" method="post">
        <div>
            <div>
                <%=data[0].title%>
            </div>
            <div>
                <%=data[0].content%>
            </div>
            <button>확인</button>
    </form>

    </div>
</body>

</html>