<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>추가페이지</div>
    <form action="/insert" method="post">
        <label for="name">이름</label>
        <input type="text" id="name" name="name">
        <label for="number">번호</label>
        <input type="number" id="number" name="number">
        <button>확인</button>
    </form>
</body>

</html>